body {
  background-color: #D29F13;
}

header {
  background-color: #F99F19;
  width: 100%;
  position: sticky;
  top: 0;
}


#logo {
  height: 150px;
  position: absolute;
  left: 150px;
}


nav {
  display: inline-block;
  vertical-align: top;
  height: 150px;
  width: 80%;
}

header nav ul {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  right: 0;
  top: 73px;
}

header nav li {
  display: inline-block;
  margin:0 10px 0 100px;

}

header nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
}


.capa {
  margin: 50px auto;
  width: 500px;
}

.divisao {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  height: 805px;
}

.sinopse {
  display: inline-block;

}
