body {
  background-color: #D29F13;
}

#logo {
  height: 150px;
}

nav {
  display: inline-block;
  vertical-align: top;
  height: 150px;
  width: 80%;
}

header nav ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 70px;
}

header nav li {
  display: inline-block;
  margin:0 10px 0 100px;
}

header nav a:hover {
  color: #FFFFFF;
}
