body {
  background-color: #D29F13;
}

#logo {
  height: 150px;
}

header ul {
  display: inline-block;
  vertical-align: top;
}

header li {
  display: inline-block;
  margin: 0 10px 0 30px;
}
