body {
  background-color: #D29F13;
}

#logo {
  height: 150px;
}

header ul {
  display: inline-block;
  vertical-align: top;
}

header li {
  display: inline-block;
  margin: 0 10px 0 30px;
}

.imagem-filme {
  margin: 0 auto 0 auto;
  display: inline-block;

}

.capa {
  margin: 50px 5000px 50px 0;
  width: 300px;
}